{% extends 'PointWebFicheBundle::base.html.twig' %}

{% block content %}
    <h1>Frais creation</h1>
    {% for essence in price_essence %}

    {% endfor %}
{{ form_start(form, {'attr': {'class':'form-horizontal' }}) }}
<fieldset>
    <div class="col-lg-9 table-responsive" data-target="1">
        <table class="records_list table table-bordered table-hover table-striped table-cubage">
            <thead>
            <tr>
                <div class="col-lg-12 ">{{ app.user.fullname }}</div>
                <th></th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr >
                <td><h5>Nuité</h5></td>
                <td><div class="col-lg-6 " > {{ form_errors(form.qtNuit) }}{{ form_widget(form.qtNuit) }}</div></td>
                <td><div class="col-lg-6 "> {{ form_errors(form.prixNuit) }}{{ form_widget(form.prixNuit) }}</div></td>
                <td><div class="col-lg-6">{{ form_errors(form.totalNuit) }}{{ form_widget(form.totalNuit) }} </div></td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td><h5>Repas</h5></td>
                <td><div class="col-lg-6"> {{ form_errors(form.qtRepas) }}{{ form_widget(form.qtRepas) }}</div></td>
                <td><div class="col-lg-6"> {{ form_errors(form.prixRepas) }}{{ form_widget(form.prixRepas) }}</div></td>
                <td><div class="col-lg-6"> {{ form_errors(form.totalRepas) }}{{ form_widget(form.totalRepas) }}</div></td>
            </tr>
            </tbody>

            <tbody>
            <tr>
                <td><h5>Essence</h5></td>
                {% for essence in price_essence %}
                    <td><div class="col-lg-6"> {{ form_errors(form.qtKm) }}{{ form_widget(form.qtKm) }}</div></td>
                    <td><div class="col-lg-6"> {{ form_errors(form.prixKm) }}{{ form_widget(form.prixKm,{"value": essence.price }) }}</div></td>
                    <td><div class="col-lg-6"> {{ form_errors(form.totalKm) }}{{ form_widget(form.totalKm) }}</div></td>
                {% endfor %}
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td><h5>Total</h5></td>
                <td><div class="col-lg-6 "></div></td>
                <td><div class="col-lg-6"></div></td>
                <td><div class="col-lg-6"> {{ form_errors(form.total) }}{{ form_widget(form.total) }}</div></td>
            </tr>
            </tbody>

            </table>
        </div>
</fieldset>
    <div class="form-group">
        {{ form_label(form.online) }}
        <div class="col-lg-10">
            {{ form_errors(form.online) }}
            {{ form_widget(form.online) }}
        </div>
    </div>
    {{ form_end(form) }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_frais') }}">
            Back to the list
        </a>
    </li>
        </ul>

    <script>
        var quantite = document.getElementById("qt1").value;
        var prix = document.getElementById("p1").value;
        var total = document.getElementById("t1").value;
    </script>

{% endblock %}
